<!DOCTYPE html>
<html lang="es">
	<head>
		<title>AS Todo App</title>
		<meta  charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#eba653"/>
		<meta name="description" content="
		Author: Beltran Aceves,
		Description: Simple Todo PWA with Elixir backend">
		<link rel="icon" type="image/x-icon" href="./static/icon.png" />
		<link
		href="https://fonts.googleapis.com/css?family=Poppins&display=swap"
		rel="stylesheet"
		/>
		<link
		rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
		integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk="
		crossorigin="anonymous"
		/>
		<link rel="stylesheet"  href="./static/todo.css"/>
		<link defer rel="manifest" href="./static/manifest.json"/>
	</head>
	<body>
		<script>
			if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('./service-worker.js')
        .then(function (registration)
        {
          console.log('Service worker registered successfully');
        }).catch(function (e)
        {
          console.error('Error during service worker registration:', e);
        });
			}
		</script>
		<header>
		<h1>Lista de tareas</h1>
		</header>
		<div class="center-div">
			<form method="POST" action="/">
				<input type="text"
					id="new-item"
					name="item"
					pattern=".{3,}"
					required
					aria-label="Write a new todo item"
					title="3 characters minimum"/>
				<button class="todo-button" type="submit" value="Add new item" id="add-new-item" aria-label="Add new Todo item">
				<i class="fas fa-plus-square"></i>
				</button>
			</form>
		</div>
		<div class="todo-container">
		
			<%=  for todo <- todos do  %>
			<ul class="todo-list">
			<div class="todo" style="display: flex;">
				<%=  if todo.done do  %>
				<li  class="todo-item"><s><%= todo.name %></s></li>
				<form  method="POST"  action="toggle" style="visibility: hidden;">
					<input  type="hidden"  name="item"  value="<%= todo.id %>">
					<input  type="hidden"  name="name"  value="<%= todo.name %>">
					<input  type="hidden"  name="done"  value="false">
					<button class="complete-btn incomplete" type="submit" value="Not Done" aria-label="Mark item as done" style="visibility: visible;">
					<i class="fas fa-check"></i>
					</button>
				</form>
				<form  method="POST"  action="delete" style="visibility: hidden;">
					<input  type="hidden"  name="item"  value="<%= todo.id %>">
					<button class="trash-btn delete" type="submit" value="Remove" aria-label="Remove item" style="visibility: visible;">
					<i class="fas fa-trash"></i>
					</button>
				</form>
				<%  else  %>
				<li  class="todo-item"><%= todo.name %></li>
				<form  method="POST"  action="toggle" style="visibility: hidden;">
					<input  type="hidden"  name="item"  value="<%= todo.id %>">
					<input  type="hidden"  name="name"  value="<%= todo.name %>">
					<input  type="hidden"  name="done"  value="true">
					<button class="complete-btn incomplete" type="submit" value="Done" aria-label="Mark item as done" style="visibility: visible;">
					<i class="fas fa-check"></i>
					</button>
				</form>
				<form  method="POST"  action="delete" style="visibility: hidden;">
					<input  type="hidden"  name="item"  value="<%= todo.id %>">
					<button class="trash-btn delete" type="submit" value="Remove" aria-label="Delete item" style="visibility: visible;">
					<i class="fas fa-trash"></i>
					</button>
				</form>
				<%  end  %>
			</div>
			</ul>
			<%  end  %>
		</div>
	</body>
</html>